body {
    min-height: 100vh;
    margin: 0; 
    background: linear-gradient(to bottom, #e7e7e7, #5e5e5e);
}

.box1 {
 width: auto;
 height: auto;
 border-radius: 10px;
 border: 10px solid black;
 border-width: thin;
}
input {
    border-radius: 50px;
}
textarea {
    border-radius: 10px;
}